services:
  - type: web
    name: unispot-api
    env: go
    rootDir: backend
    repo: https://github.com/parsaabbasian/UniSpot
    plan: free
    buildCommand: go build -o server ./cmd/api/main.go
    startCommand: ./server
    envVars:
      - key: GIN_MODE
        value: release
      # Render naturally sets PORT. Gin uses the PORT environment variable if configured properly.
